@media (max-width: 1500px) {
  .scholarship-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1023px) {
  .mobile-sidebar-close-box .mobile-sidebar-close-btn {
    display: block;
  }

  .admin-header-left {
    flex-direction: row-reverse;
  }
  .admin-header-left.mob-header-left {
    flex-direction: revert;
  }
  .admin-close-icon {
    height: 23px;
    width: 23px;
    object-fit: contain;
    display: block;
  }

  .admin-sidebar-logo-main .admin-sidebar-close-btn {
    display: block;
  }

  .admin-bergurmenu-icon {
    height: 20px;
    object-fit: contain;
    width: 20px;
  }

  .admin-header-icon-box {
    margin-right: 15px;
  }

  .admin-header-sidebar-logo {
    order: 2;
  }

  .admin-dashboard-left-main.admin-sidebar-deactive {
    left: -100%;
    top: 0;
    max-width: 0px;
  }

  .admin-header-main.admin-header-deactive {
    left: 0;
  }

  .admin-header-main {
    left: 0px;
  }

  .admin-sidebar-deactive .admin-sidebar-icons {
    margin-right: 10px;
  }

  .admin-sidebar-deactive .admin-sidebar-link-text {
    display: block;
  }

  .admin-dashboard-left-main.active {
    left: 0;
    top: 0;
  }

  .admin-dashboard-containt-main,
  .admin-header-main.admin-header-deactive + .admin-dashboard-containt-main {
    padding: 88px 15px 24px 15px;
  }

  .admin-body-overflow {
    overflow: hidden;
  }

  .admin-sidebar-logo-main {
    justify-content: space-between;
  }

  .admin-header-main.admin-header-deactive .admin-sidebar-logo {
    display: block;
    margin-left: 0px;
  }

  .admin-header-logo-main .mobile-admin-bergur-button {
    display: block;
  }

  .admin-header-logo-main {
    padding: 0;
    gap: 2px;
    min-width: initial;
    border: 0;
  }

  .admin-header-row .admin-bergur-button {
    display: none;
  }

  .admin-header-logo-main .admin-header-logo-text {
    font-size: 15px;
    line-height: 24px;
  }

  .admin-search-box {
    display: none;
  }

  .admin-header-right .admin-header-icon-box {
    display: none;
  }

  .header-drop-arrow-box {
    margin-left: 0px;
  }

  .admin-header-right.mob-right-header {
    justify-content: flex-end;
    padding: 4px;
  }

  .mobile-sidebar-close-box {
    display: block;
  }

  .admin-sidebar-deactive .admin-sidebar-icons {
    display: none;
  }

  .admin-sidebar-list-main {
    padding: 36px 15px 15px;
  }

  .admin-dashboard-containt-main {
    height: calc(100vh - 0px);
  }

  .admin-auth-main {
    position: initial;
  }

  .admin-auth-left-bg-img {
    height: 50vh;
  }

  .admin-auth-main-flex {
    height: 100vh;
    flex-direction: column;
    padding: 15px;
  }

  .admin-auth-left-main {
    display: none;
  }

  .admin-auth-right-main {
    max-width: 100%;
    background-image: none;
  }

  .admin-auth-box {
    height: 100%;
  }

  .admin-dash-card-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .admin-dashboard-inner-box .admin-dash-price {
    font-size: 14px;
    line-height: 17px;
  }

  .admin-dashboard-inner-box .admin-dash-text,
  .admin-dashboard-inner-box .admin-dash-para {
    font-size: 11px;
    line-height: 15px;
  }

  .admin-header-right .admin-header-icon-box {
    margin-right: 5px;
  }

  .page-card-title-main .page-card-title {
    margin-bottom: 15px;
  }

  .leave-card-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .admin-header-search .MuiInputBase-root {
    min-width: 200px;
  }

  .footer-main {
    position: initial;
  }

  .scholarship-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .view-data-flex .view-data-lable {
    min-width: initial;
  }

  .view-card .view-card-data-lable {
    min-width: initial;
  }

  .stepper-wrapper {
    padding: 0;
  }
  .admin-auth-main {
    max-width: 364px;
  }
  .admin-header-logo-main.mob-logo-head {
    justify-content: start;
  }
  .quiz-result-card .view-card-data-lable {
    font-size: 13px;
  }
  .quiz-result-card .view-card-title {
    font-size: 15px;
  }
  .quiz-result-card .view-card-icons {
    width: 17px;
    height: 17px;
  }
}
@media (max-width: 991px) {
  .admin-auth-main-flex {
    background-image: url("../images/png/user-auth-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .about-card-box {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }
  .about-card-box {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    padding: 16px;
  }
  .about-coustomer-section.about-box{
    padding: 40px 0 40px 0;
  }
  .join-leader-cont .section-title.join-leader-title{
    padding-left: 10px;
    margin-top: 0;
  }
  .about-card-box-cont{
    margin-top: 0;
  }
  .join-leader-cont{
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .ai-timeline-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .admin-dash-card-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .view-document-flex {
    grid-template-columns: repeat(2, 1fr);
  }

  .view-profile-card-flex {
    grid-template-columns: repeat(1, 1fr);
  }

  .view-details-main {
    grid-template-columns: repeat(1, 1fr);
  }

  .scholarship-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-section {
    padding-top: 10px;
  }
  .notification-date.desktop {
    display: none;
  }
  .notification-date.mobile {
    display: block;
  }
  .intership-banner-cont-right .claim-btn {
    padding: 10px 10px;
  }
  .intership-sub-cont-box .learn-title {
    font-size: 32px;
    line-height: 58px;
  }
  .intership-action .upload-btn {
    font-size: 16px;
    gap: 8px;
  }
  .intership-action .upload-btn img {
    width: 18px;
  }
  .section-margin {
    margin: 32px 0;
  }
  .about-card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .about-card-box {
    grid-template-columns: repeat(1, 1fr);    
  }
  
  .join-leader-bg{
    padding: 40px 20px 120px 20px;
    margin-bottom: 26px;
  }
  .ai-roadmap-week-card{
    max-width: 280px;
    width: 280px;
  }
}

@media (max-width: 549px) {
  .admin-header-right.mob-right-header .admin-header-profile-icon {
    height: 30px !important;
    width: 30px !important;
  }
  .intership-banner-box {
    padding: 0;
    grid-template-columns: 1fr;
  }
  .intership-sub-cont-box {
    grid-template-columns: 1fr;
  }
  .intership-sub-detail {
    padding: 0px 16px;
  }
  .intership-banner-cont-right {
    padding: 0px 16px;
    flex-direction: column;
    gap: 16px;
  }
  .timeline-cont-box {
    padding: 0;
  }
  .intership-schedule-cont {
    flex-wrap: wrap;
  }
  .intership-action {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    margin-top: 8px;
  }
  .intership-action .intership-banner-cont-right{
    padding: 0;
  }
  .intership-schedule-box {
    margin-bottom: 0;
  }
  .section-margin {
    margin: 26px 0;
  }
  .share-box-cont .share-icon-title {
    gap: 4px;
  }
  .intership-action .upload-btn {
    padding: 0;
  }
  .intership-banner-cont-right {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intership-about-cont-box .intership-about-title {
    margin-bottom: 10px;
  }
  .share-box-cont {
    margin-bottom: 0px;
  }
  .intership-sub-cont-box .learn-time {
    justify-content: center;
  }
  .intership-sub-cont-box .learning-subtitle {
    text-align: center;
  }
  .intership-sub-cont-box .learn-title {
    text-align: center;
  }
  .intership-sub-cont-box .intership-sub-img .intership-sub-icon-img {
    margin-top: 16px;
    object-fit: cover;
    width: calc(100% - 15px);
    height: 200px;
  }
  .intership-banner-main {
    border-radius: 10px;
  }
}

@media (max-width: 475px) {
  body.font-size-increased .hero-content-main .hero-title {
    font-size: 40px;
  }
  body.font-size-increased .hero-content-main .hero-para {
    font-size: 16px;
    line-height: 1.6;
  }
  body.font-size-increased .user-header-right-main .header-login-btn {
    padding: 8px 16px;
  }
  .about-card-box {
    display: grid;
    grid-template-columns: repeat(1fr);
  }
}
