.pdf-viewer-section{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 12px;
}

.pdf-icon-btn svg{
    fill: #ed2525
}
.pdf-icon-btn.Mui-disabled svg{
    fill: rgba(0, 0, 0, 0.26)
}

.pdf-viewer-section .react-pdf__Document{
    max-width: 100%;
}